.summary-card {
    padding: 20px;
    border-radius: 10px;
    color: #FFF;
    height: 180px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    h3,
    p {
        font-size: .8rem;
        font-weight: 500;
    }

    h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}