.fee-collection-screen {
    padding: 40px 20px;

    >h2 {
        margin-block: 20px;
    }

    >section {
        >aside {
            display: flex;
            flex-direction: column;
            gap: 30px;

            >span {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                width: 100%;
                position: relative;

                svg {
                    font-size: 1.8rem;
                    background-color: #F2F2F2;
                    padding: 6px;
                    border-radius: 50%;
                    position: absolute;
                    left: 0px;
                }

                h3 {
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 600;
                }
            }

            table {
                background-color: var(--primary-green);
                color: white;
                width: 100%;

                th,
                td {
                    text-align: left;
                    padding: 15px;
                }
            }
        }

        >.select-term {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-block: 30px;

            label {
                font-weight: 600;
            }

            select {
                padding: 15px;
                width: 200px;
                border: 1px solid #d9d9d9;
                border-radius: 4px;
            }
        }

        >table {
            width: 100%;

            tr:first-of-type {
                background-color: #F7F7F7;
            }

            td,
            th {
                padding: 20px;
                text-align: left;
                border-bottom: 1px solid #d9d9d9;

                input {
                    background-color: #F7F7F7;
                    border: none;
                    padding: 10px;
                    outline: none;
                }
            }
        }

        >article {
            margin-top: 40px;

            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                width: 100%;
                margin-bottom: 20px;

                input {
                    border: none;
                    outline: none;
                }
            }

            span:nth-of-type(1) {
                background-color: #A3BEAC;

                h4 {
                    color: #fff;
                }
            }

            span:nth-of-type(2) {
                background-color: #F5D98A;
            }

            span:nth-of-type(3) {
                background-color: #E89E9E;
            }
        }
    }
}