.test-results {
	padding: 3rem 2rem;

	> .search-test-results-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		padding: 40px;
		border-radius: 10px;
		width: 400px;
		margin: 20px auto;

		> h3 {
			font-size: 1.2rem;
			font-weight: 600;
			text-align: center;
		}

		.form-group {
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: 100%;

			label {
				font-size: 1rem;
				font-weight: 500;
			}

			input,
			select {
				padding: 15px;
				border: 1px solid #d9d9d9;
				border-radius: 4px;
				width: 100%;
			}
		}
	}

	> .test-results-table {
		> .mid {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 40px;

			.search-component-area {
				margin-bottom: 0px;

				.search-bar {
					margin-bottom: 0px;
				}
			}

			aside {
				display: flex;
				align-items: center;
				background-color: #f7f7f7;
				padding: 10px 20px;
				gap: 20px;

				select {
					padding: 10px 15px;
					background-color: #fff;
					border: 1px solid #d9d9d9;
					border-radius: 4px;
				}

				div {
					padding: 5px;
					cursor: pointer;
				}

				svg {
					font-size: 1.5rem;
					color: var(--primary-red);
				}
			}
		}

		> table {
			width: 100%;
			border-collapse: collapse;
			margin-block: 20px;

			th,
			td {
				padding: 30px 20px;
				text-align: left;
				border-bottom: 1px solid #d9d9d9;
				color: var(--dark-green);
				font-size: 0.9rem;
			}

			th {
				font-weight: 700;
				font-size: 1rem;
				background-color: #f7f7f7;
			}
		}
	}
}
