.account-settings-container {
    background-color: #fdfdfd;
    padding: 40px;

    h2 {
        text-align: center;
        color: var(--dark-green);
        max-width: 800px;
        padding: 20px;
        background-color: #fff;
    }

    .account-settings-form {
        border-top: 1px solid #ddd;
        padding: 20px;
        max-width: 800px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-size: .9rem;
        font-weight: 500;
        color: #000;
        margin-bottom: 10px;
    }

    input,
    select {
        width: 100%;
        padding: 15px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .fee-row .form-group {
        flex: 1;
    }

    .save-button {
        background-color: var(--primary-green);
        color: #fff;
        border: 1px solid var(--primary-green);
        padding: 15px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }

    .save-button:hover {
        color: var(--primary-green);
        background-color: #fff;
    }

    .delete-btn {
        background-color: #fff;
        color: red;
        border: 1px solid #fff;
        cursor: pointer;
        padding: 10px 20px;
    }

    .delete-btn:hover {
        background-color: red;
        color: #fff;
        border-radius: 5px;
    }
}

@media (max-width: 600px) {
    .fee-row {
        flex-direction: column;
    }
}