#root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-green: #13A541;
  --dark-green: #08190E;
<<<<<<< HEAD
=======
  --primary-red: #FF3D3D;
>>>>>>> 534ca26af595f7841ec3c3067fa58f1ca9740446
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  transition: all 0.25s ease-in-out;
  font-family: "Inter", sans-serif;
}

<<<<<<< HEAD
/* @font-face {
  font-family: "ButlerLight";
  src: local("ButlerLight"),
    url("./fonts/Butler_Webfont/Butler-Light.woff") format("woff");
  font-weight: normal;
} */

=======
>>>>>>> 534ca26af595f7841ec3c3067fa58f1ca9740446
a {
  text-decoration: none;
  color: inherit;
}
<<<<<<< HEAD
input, button, textarea{
    outline: 0
  
  }
  
=======

.primary-btn {
  background-color: var(--primary-green);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--primary-green);
}

.primary-btn:hover {
  background-color: white;
  color: var(--primary-green);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
a {
  color: var(--dark-green);
}
>>>>>>> 534ca26af595f7841ec3c3067fa58f1ca9740446
